<!DOCTYPE html>
<html>
<head>
    <title>今琐记·反馈成功页面</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background:#55BDE6">
<div class="container" style="width:auto;position:fixed;left:50%;top:50%;transform:translate(-50%,-50%)">
    <div class="row">
        <div class="col-md-12">
            <p>项目发展与服务器续期离不开您的支持，请作者喝杯<strike>java</strike>咖啡吧（请注明今琐记）：</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <img style="max-width:100%;max-height:100%" src="https://www.gsxab.top/jinsuoji/static/alipay.png" />
        </div>
        <div class="col-md-6">
            <img style="max-width:100%;max-height:100%" src="https://www.gsxab.top/jinsuoji/static/wechatpay.png" />
        </div>
    </div>
</div>
</body>
</html>