<!DOCTYPE html>
<html>
<head>
    <title>今琐记·反馈页面</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style="background:#55BDE6">
<div class="container" style="width:750px;position:fixed;left:50%;top:50%;transform:translate(-50%,-50%)">
    <div class="row">
        <form action="feedback" method="post" role="form" class="col-md-12">
            <div class="form-group">
                <label for="feedback" style="font-weight:bold">
                    十分感谢您对我们的app的支持，请提出您的宝贵意见：
                </label>
                <textarea name="feedback" id="feedback" rows="10" style="width:100%"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
    </div>
</div>
</body>
</html>